rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isLoggedIn() {
      return request.auth != null;
    }

    match /users/{user} {
      allow read;
      allow write: if isLoggedIn() && request.auth.uid == user;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
